body{
  font-family: 'Montserrat', sans-serif;
}

#title{
  background-color: #ff4c68;
}

h1{
  font-family: 'Montserrat-Black';
  font-size: 5rem;
  line-height: 1.5;
  margin-top: 3rem;
  color: #ffffff;
}

.navbar{
  padding: 0 0 1rem;
}

.navbar-brand{
  font-family: 'Ubuntu-Bold';
  font-size: 2.5rem;
  font-weight: bold;

}

.navbar-nav{
  font-size: 1.5rem;
  padding: 2%;
  margin: 0 2rem;
}

.nav-link{
  margin: 0 2rem;
}

.Intro{
  padding: 3% 15% 10%;
  margin-bottom: 50px;
}

#dog-pic{
  position: absolute;
  top: 3rem;
  width: 60%;


}

.rotate30{
-webkit-transform: rotate(30deg);
-moz-transform: rotate(30deg);
-o-transform: rotate(30deg);
-ms-transform: rotate(30deg);
transform: rotate(30deg);
}

#iphone-btn{
  line-height: 2;
  margin: 3rem 0;
  font-size: 1.5rem;
  padding: 0 20px;
}

#google-btn{
  line-height: 2;
  margin: 3rem 1rem;
  font-size: 1.5rem;
  padding: 0 20px;
}

#features{
  position: relative;
  text-align: center;
  background-color: #fff;
  padding: 10% 10%;
  margin-top: -9.5%;


}

.fas{
  color: #ef8172;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.effect:hover{
  color: #ff4c68;
}

h3{
  font-size: 1.5rem;
  font-family: 'Russo One';
}

.First-tag{
  color: #8f8f8f;
}

#testimonials{
  background-color: #ef8172;
  text-align: center;


}
h2{
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: 'Russo One';
  color: #fff;

}
.dog-image{
  border-radius: 100%;
  margin: 5%;
  width: 20%
}
.testimonial-image{
  border-radius: 100%;
  margin: 5%;
  width: 20%
}

#press{
  background-color: #ef8172;
  text-align: center;
}

.press-images{
  margin: 2% 2.5%;
  padding-bottom: 2rem;
  width: 17%;
}

.carousel-item{
  padding: 4% 20%;
}

#pricing{
  text-align: center;
  margin: 5% 12%;
  padding: 2%;
}

.pricing-h2{
  color: #000;
}

p{
  color: #8f8f8f;
}

.card{
  margin: 2rem 0;
}
@media (max-width:990px) {
  #dog-pic{
    position: static;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  h1{
    text-align: center;
  }

  .row{
    text-align: center;
  }
}

#cta{
  background-color: #ff4c68;
  padding: 2rem;
  line-height: 2;
  margin: 5rem 0;
  text-align: center;
}
.cta-text{
  font-size: 2.5rem;
  padding: 2rem;
  text-align: center;
  font-family: 'Russo One';
  color: #fff;
}

#iphone-btn2{
  line-height: 2;
  margin: 2rem 1rem;
  font-size: 1rem;
  padding: 0 10px;

}

#google-btn2{
  line-height: 2;
  margin: 2rem 1rem;
  font-size: 1rem;
  padding: 0 10px;
}

#footer{
  text-align: center;
  background-color: #fff;
  color: #ff4c68;
  margin-bottom: 3rem;
}
.footer-icon{
  margin: 2rem;
  font-size: 1.5rem;
}
